<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>controller.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>controller.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
</web-app>